<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Employee
    </div>

    <div class="card-body">

      <div class="row">

        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              Create
            </div>
            <div class="card-body">
              <form >
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-12 mb-3">
                    <label>Mobile NO</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-12 mb-3">
                    <label>Email ID</label>
                    <input type="text" class="form-control"/>
                  </div>
                  <div class="col-sm-12 mb-3">
                    <button class="btn btn-primary" type="Submit">Create</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <td>Name</td>
                <td>Mobile NO</td>
                <td>Email ID</td>
                <td>Action</td>

              </tr>
            </thead>

            <tbody>
              <tr>
                <td>RS</td>
                <td>0775989789</td>
                <td></td>
                <td>Email ID</td>
                <td>
                  <button class="btn btn-link">Edit</button>
                  <button class="btn btn-link">Delete</button>
                </td>

              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>